POSTGRES_PASSWORD = root
POSTGRES_USER = root
POSTGRES_HOST = database
POSTGRES_PORT = 5432
POSTGRES_DB = crawler_db
POSTGRES_DSN = "postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}"

SITE = "https://www.google.com/"
NUM_WORKERS = 30